#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;  
  border: none;
}

h1 {
  background: grey;
  color: white;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
}

body {
  background: #7F9C96;
  font-family: Arial, sans-serif;
  margin: 20px;
}

p, figcaption {
  color: white;
}
